.brand-gradient {
  background: #5100ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #95ff00,
    hsl(146, 100%, 32%)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #ff0033,
    #f60ac3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.banner-holder,
.main-page-header {
  background-size: cover;
  background-position: bottom;
}

.custom-nav {
  backdrop-filter: blur(8px);
}
